{% extends 'blog/template/base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}
    {% if request.user == posts.0.author_id %}
    Мой аккаунт
    {% else %}
    Аккаунт {{ posts.0.author_id|title }}
    {% endif %}
{% endblock title %}
{% block seo_description %}
    Просмотр всех постов в профиле {{ posts.0.author_id|title }}
{% endblock seo_description %}
{% block seo_keys %}
    личная страница {{ posts.0.author_id|title }}, все посты {{ posts.0.author_id|title }}, профиль {{ posts.0.author_id|title }}, аккаунт {{ posts.0.author_id|title }}
{% endblock seo_keys %}
{% block content %}
<div class="row">
    <div class="col-xl-8">
        {% if request.user == posts.0.author_id %}
        <h1>Мой аккаунт</h1>
        {% else %}
        <h1>Аккаунт {{ posts.0.author_id|title }}</h1>
        {% endif %}
        <div class="post mt-3">
            <div class="d-flex justify-content-start p-3">
                <img class="account-image" src="{{ user.userprofile.avatar|get_avatar }}" alt="">
                <div class="account-right">
                    <h3>{{ user.username|title }}<span class="badge rounded-pill text-bg-dark badge-title">
                        {% if user.groups.all.0 %}
                        {{ user.groups.all.0 }}
                        {% else %}
                        Пользователь
                        {% endif %}
                    </span></h3>
                    <div class="account_info">
                        {% if user.first_name %}
                        {{ user.first_name }} {{ user.last_name }}
                        {% else %}
                        Имя Фамилия
                        {% endif%}</div>
                    <div class="account_info">На сайте с {{ user.date_joined }}</div>
                    <div class="account_info">
                        {% if count_posts > 0 %}
                        Написал уже {{ count_posts }} пост{{ count_posts|pluralize:',а,ов' }}
                        {% else %}
                        В данный момент не написал ни одного поста...
                        {% endif %}
                    </div>
                    <div class="account_info">Последний раз заходил {{ user.last_login }}</div>
                    
                </div>
            </div>
        </div>
        {% include 'blog/template/post_blocks.html' %}
    </div>
    {% include 'blog/template/sidebar.html' %}
</div>
{% endblock %}