{% extends 'blog/template/base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
{% if request.user == posts.0.author_id %}
<h1>Мой аккаунт {{ posts.0.author_id }}</h1>
{% else %}
<h1>Аккаунт {{ posts.0.author_id }}</h1>
{% endif %}
<div class="row">
    <div class="col-xl-8">
        {% for post in posts %}
        <div class="post mt-3">
            <div class="d-flex justify-content-between p-3">
                <div class="title">
                    <a class="title-post" href="{% url 'post-page' post.id %}">{{ post.name }}</a>
                    <span class="badge rounded-pill text-bg-dark badge-title">{{ post.tag_id }}</span>
                </div>
                {% if post.author_id == request.user %}
                <div class="manage-post">
                    <a href="{% url 'edit-post' post.id %}" class="btn btn-main-post mt-2">Редактировать</a>
                </div>
                {% else %}
                <a class="link-profile" href="#">
                    <div class="author">
                        <img src="{{ post.author_id.userprofile.avatar|get_avatar }}" alt="mdo" width="32" height="32" class="rounded-circle">
                        {{ post.author_id.username }}
                    </div>
                </a>
                {% endif %}
            </div>
            <a href="{% url 'post-page' post.id %}"><img class="post-image" src="{{ post.image.url }}" alt="{{ post.name }}"></a>
            <div class="ps-3 pe-3">{{ post.text|safe }}</div>
        </div>
        {% endfor %}
    </div>
    {% include 'blog/template/sidebar.html' %}
</div>
{% endblock %}