{% extends 'blog/template/base.html' %}
{% load static %}
{% load custom_tags %}
{% load thumbnail %}
{% block title %}Список пользователей{% endblock title %}
{% block seo_description %}Список пользователей на % NAMESITE %{% endblock seo_description %}
{% block seo_keys %}cписок пользователей на % NAMESTIRE %, пользователи в % NAMESITE %, юзеры на % NAMESITE %{% endblock seo_keys %}
{% block content %}
<div class="row">
    <div class="col-xl-8">
        <h1>Список пользователей</h1>
        {% for user in users %}
        <a class="post block-user-link mt-3" href="{% url 'account' user.id %}">
            <div class="d-flex justify-content-start p-3">
                {% if user.userprofile.avatar %}
                {% thumbnail user.userprofile.avatar "150x150" crop="center" as im %}
                                <img class="account-image-list" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
                {% else %}
                    <img class="account-image-list" src="{{ ''|get_avatar }}">
                {% endif %}
                <!-- <img class="account-image-list" src="{{ user.userprofile.avatar|get_avatar }}" alt=""> -->
                <div class="account-right pt-1">
                    <h3>{{ user.username|title }}<span class="badge rounded-pill text-bg-dark badge-title badge-title-user">
                        {% if user.groups.all.0 %}
                        {{ user.groups.all.0 }}
                        {% else %}
                        Пользователь
                        {% endif %}
                    </span></h3>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% include 'blog/template/sidebar.html' %}
</div>
{% endblock %}