{% extends 'blog/template/base.html' %}
{% load static %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.5.0/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea'
      });
</script>
<h1>Редактирование {{ post.name }}</h1>
<div class="row">
    <div class="col-xl-8 col-xs-12">
        <div class="post">
            <form method="POST" enctype="multipart/form-data" class="p-4">
                {% csrf_token %}
                <div class="mb-3">
                <label for="title-input" class="form-label required">Название поста</label>
                <input type="text" id="title-input" name="name" value="{{ post.name }}" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="description-input" class="form-label">Описание поста</label>
                    <input type="text" id="description-input" name="seo_description" value="{{ post.seo_description }}" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="keywords-input" class="form-label">Ключевые слова</label>
                    <input type="text" id="keywords-input" name="seo_keys" value="{{ post.seo_keys }}" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="image-input" class="form-label required">Картинка поста</label>
                    <img class="post-image" src="{{ post.image.url }}" alt="">
                    <input type="file" id="image-input" name="image" value="{{ post.image }}" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="text-input" class="form-label required">Текст поста</label>
                    <textarea name="text" id="text-input" cols="30" rows="10">{{ post.text }}" </textarea>
                </div>
                <div class="mb-3">
                    <label for="tags-input" class="form-label required">Теги</label>
                    <input type="text" name="tags" id="tags-input" value="{{ post.tag_id }}"  class="form-control">
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" name="button" value="change" class="btn btn-dark">Изменить пост</button>
                    <button type="submit" name="button" value="delete" class="btn btn-danger">Удалить пост</button>
                </div>
            </form>
        </div>
    </div>
    {% include 'blog/template/sidebar.html' %}
</div>
{% endblock %}