{% extends 'blog/template/base.html' %}
{% block content %}
<h1>БЛОГ</h1>
<div class="main-post d-flex justify-content-center">
    <div class="col-lg-8"><img src="https://cdn.iz.ru/sites/default/files/news-2021-04/20191126_gaf_u39_1210%207.jpg" alt=""></div>
    <div class="col-lg-4 pt-3">
        <span>25 февраля 2022</span>
        <h2>Главный пост</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices vel ipsum sed facilisis. Nulla tristique, magna ac feugiat lacinia, elit neque porttitor sapien, suscipit iaculis ligula diam et libero.</p>
        <a href="#" class="btn btn-main-post">Читать далее...</a>
    </div>
</div>

<div class="row gy-4 pt-4">
    <div class="col-lg-4">
        <div class="post">
            <img class="post-image" src="https://tishka.org/master%20class/Potatoes%20rustic%20in%20the%20oven/kartoshka-po-derevenski-v-duhovke.jpg" alt="">
            <span>27 февраля 2022</span>
            <h3>Вкусная кортошечка в духовке</h3>
            <p class="info-text">Если картошка, запеченная в духовке, получается не всегда такой как хочется (сухая или наоборот мокрая, сыроватая внутри, недостаточно удачная по специям) — дайте шанс этому рецепту. Такая картошечка по-деревенски стабильно получается очень вкусная, хрустящая снаружи и мягкая, как пюрешка внутри, ароматная — в общем пальчики оближешь. </p>
            <a href="#" class="btn btn-main-post card-button">Читать далее...</a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="post">
            <img class="post-image" src="https://tishka.org/master%20class/Potatoes%20rustic%20in%20the%20oven/kartoshka-po-derevenski-v-duhovke.jpg" alt="">
            <span>27 февраля 2022</span>
            <h3>Вкусная кортошечка в духовке</h3>
            <p class="info-text">Если картошка, запеченная в духовке, получается не всегда такой как хочется (сухая или наоборот мокрая, сыроватая внутри, недостаточно удачная по специям) — дайте шанс этому рецепту. Такая картошечка по-деревенски стабильно получается очень вкусная, хрустящая снаружи и мягкая, как пюрешка внутри, ароматная — в общем пальчики оближешь. </p>
            <a href="#" class="btn btn-main-post card-button">Читать далее...</a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="post">
            <img class="post-image" src="https://tishka.org/master%20class/Potatoes%20rustic%20in%20the%20oven/kartoshka-po-derevenski-v-duhovke.jpg" alt="">
            <span>27 февраля 2022</span>
            <h3>Вкусная кортошечка в духовке</h3>
            <p class="info-text">Если картошка, запеченная в духовке, получается не всегда такой как хочется (сухая или наоборот мокрая, сыроватая внутри, недостаточно удачная по специям) — дайте шанс этому рецепту. Такая картошечка по-деревенски стабильно получается очень вкусная, хрустящая снаружи и мягкая, как пюрешка внутри, ароматная — в общем пальчики оближешь. </p>
            <a href="#" class="btn btn-main-post card-button">Читать далее...</a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="post">
            <img class="post-image" src="https://tishka.org/master%20class/Potatoes%20rustic%20in%20the%20oven/kartoshka-po-derevenski-v-duhovke.jpg" alt="">
            <span>27 февраля 2022</span>
            <h3>Вкусная кортошечка в духовке</h3>
            <p class="info-text">Если картошка, запеченная в духовке, получается не всегда такой как хочется (сухая или наоборот мокрая, сыроватая внутри, недостаточно удачная по специям) — дайте шанс этому рецепту. Такая картошечка по-деревенски стабильно получается очень вкусная, хрустящая снаружи и мягкая, как пюрешка внутри, ароматная — в общем пальчики оближешь. </p>
            <a href="#" class="btn btn-main-post card-button">Читать далее...</a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="post">
            <img class="post-image" src="https://tishka.org/master%20class/Potatoes%20rustic%20in%20the%20oven/kartoshka-po-derevenski-v-duhovke.jpg" alt="">
            <span>27 февраля 2022</span>
            <h3>Вкусная кортошечка в духовке</h3>
            <p class="info-text">Если картошка, запеченная в духовке, получается не всегда такой как хочется (сухая или наоборот мокрая, сыроватая внутри, недостаточно удачная по специям) — дайте шанс этому рецепту. Такая картошечка по-деревенски стабильно получается очень вкусная, хрустящая снаружи и мягкая, как пюрешка внутри, ароматная — в общем пальчики оближешь. </p>
            <a href="#" class="btn btn-main-post card-button">Читать далее...</a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="post">
            <img class="post-image" src="https://tishka.org/master%20class/Potatoes%20rustic%20in%20the%20oven/kartoshka-po-derevenski-v-duhovke.jpg" alt="">
            <span>27 февраля 2022</span>
            <h3>Вкусная кортошечка в духовке</h3>
            <p class="info-text">Если картошка, запеченная в духовке, получается не всегда такой как хочется (сухая или наоборот мокрая, сыроватая внутри, недостаточно удачная по специям) — дайте шанс этому рецепту. Такая картошечка по-деревенски стабильно получается очень вкусная, хрустящая снаружи и мягкая, как пюрешка внутри, ароматная — в общем пальчики оближешь. </p>
            <a href="#" class="btn btn-main-post card-button">Читать далее...</a>
        </div>
    </div>
</div>
{% endblock %}