{% load custom_tags %}
{% load thumbnail %}
{% for post in posts %}
<div class="post mt-3">
    <div class="d-flex justify-content-between p-3">
        <div class="title">
            <a class="title-post" href="{% url 'post-page' post.id %}">{{ post.name }}</a>
            <a href="{% url 'tag-posts' post.tag_id.name %}" class="badge rounded-pill text-bg-dark badge-title badge-title-link">{{ post.tag_id.name }}</a>
        </div>
        {% if post.author_id == request.user %}
        <div class="manage-post">
            <a href="{% url 'edit-post' post.id %}" class="btn btn-main-post mt-2">Редактировать</a>
        </div>
        {% else %}
            {% if post.author_id.userprofile.user.is_active %}
            <a class="link-profile" href="{% url 'account' post.author_id.id %}">
                <div class="author">
                    {% if post.author_id.userprofile.avatar %}
                    {% thumbnail post.author_id.userprofile.avatar "100x100" crop="center" as im %}
                        <img src="{{ im.url }}" width="32" height="32" class="rounded-circle">
                    {% endthumbnail %}
                    {% else %}
                         <img src="{{ post.author_id.userprofile.avatar|get_avatar }}" alt="{{ post.author_id.username }}" width="32" height="32" class="rounded-circle">
                    {% endif %}
                    {{ post.author_id.username|title }}
                </div>
            </a>
            {% else %}
            <a class="link-profile">
                <div class="author">
                    <img src="{{ ''|get_avatar }}" alt="Deleted" width="32" height="32" class="rounded-circle">
                    Аккаунт удален
                </div>
            </a>
            {% endif %}
        {% endif %}
    </div>
    <div class="overflow-hidden">
        <a href="{% url 'post-page' post.id %}"><img class="page-image list-post-img" src="{{ post.image.url }}" alt="{{ post.name }}"></a>
    </div>
    <div class="p-3">{{ post.text|safe|truncatechars:500 }}</div>
    <div class="border-topline p-3 text-end">Пост опубликован: {{ post.created_at }}</div>
</div>
{% endfor %}